<div class="title">Statistici la o clinica medicala</div>

<div class="content">
  <div class="question">Care este media de varsta a pacientilor?</div>
  <button
    class="button"
    mat-raised-button
    color="primary"
    (click)="calculatePatientsAge()"
  >
    Afiseaza
  </button>
</div>

<div
  *ngIf="
    this.under20 !== 0 ||
    this.between20and30 !== 0 ||
    this.between30and40 !== 0 ||
    this.over40 !== 0
  "
>
  <canvasjs-chart
    [options]="this.chartPatientsAge"
    [styles]="{ width: '100%', height: '360px' }"
  ></canvasjs-chart>
</div>

<div class="content">
  <div class="question">Cati pacienti au fost la fiecare specializare?</div>
  <button
    class="button"
    mat-raised-button
    color="primary"
    (click)="calculateMedicalSpecialty()"
  >
    Afiseaza
  </button>
</div>

<div
  *ngIf="
    this.cardiologyPatients !== 0 ||
    this.dentistryPatients !== 0 ||
    this.neurologyPatients !== 0
  "
>
  <canvasjs-chart
    [options]="this.chartMedicalSpecialities"
    [styles]="{ width: '100%', height: '360px' }"
  ></canvasjs-chart>
</div>

<div class="content">
  <div class="question">Cate programari au avut loc in fiecare anotimp?</div>
  <button
    class="button"
    mat-raised-button
    color="primary"
    (click)="calculateAppointmentsBasedOnSeason()"
  >
    Afiseaza
  </button>
</div>

<div
  *ngIf="
    this.summerApp !== 0 ||
    this.springApp !== 0 ||
    this.autumnApp !== 0 ||
    this.winterApp !== 0
  "
>
  <canvasjs-chart
    [options]="this.chartSeasonApp"
    [styles]="{ width: '100%', height: '360px' }"
  ></canvasjs-chart>
</div>

<div class="content">
  <div class="question">Cati pacienti au fost la fiecare doctor?</div>
  <button
    class="button"
    mat-raised-button
    color="primary"
    (click)="calculatePatientsBasedOnDoctor()"
  >
    Afiseaza
  </button>
</div>

<div
  *ngIf="
    this.popescuPatients !== 0 ||
    this.dumitruPatients !== 0 ||
    this.ionescuPatients !== 0 ||
    this.tomaPatients !== 0 ||
    this.adamPatients !== 0
  "
>
  <canvasjs-chart
    [options]="this.chartPatientsBasedOnDoctors"
    [styles]="{ width: '100%', height: '360px' }"
  ></canvasjs-chart>
</div>

<div class="content">
  <div class="question">Capacitatea spitalelor</div>
  <button
    class="button"
    mat-raised-button
    color="primary"
    (click)="calculateHospitalCapacity()"
  >
    Afiseaza
  </button>
</div>

<div
  *ngIf="
    this.hospitalCapacityOver1500 !== 0 || this.hospitalCapacityUnder1500 !== 0
  "
>
  <canvasjs-chart
    [options]="this.chartHospitalCapacity"
    [styles]="{ width: '100%', height: '360px' }"
  ></canvasjs-chart>
</div>

<div class="question-input">
  Verifica daca doctorul introdus lucreaza la aceasta clinica:
</div>
<div class="content-input">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Nume doctor</mat-label>
      <input matInput name="doctorName" [(ngModel)]="doctorName" />
    </mat-form-field>
    <button
      class="button-input"
      mat-raised-button
      color="primary"
      (click)="verifyDoctor()"
    >
      Submit
    </button>
  </form>
</div>
<div *ngIf="doctorExists === true" class="response">
  Doctorul lucreaza in clinica
</div>

<div *ngIf="doctorExists === false && buttonCliked === true" class="response">
  Doctorul nu lucreaza in clinica
</div>

<div class="content">
  <div class="question">Cati pacienti are clinica?</div>
  <button
    class="button"
    mat-raised-button
    color="primary"
    (click)="calculateNumberOfPatients()"
  >
    Afiseaza
  </button>
</div>
<div *ngIf="numberOfPatients !== 0" class="second-response">
  Clinica are {{ numberOfPatients }} pacienti
</div>
